[submodule "mapping-and-autonomous-movement"]
	path = mapping-and-autonomous-movement
	url = https://github.com/ProjeGroup6/mapping-and-autonomous-movement/
[submodule "desktop-app"]
	path = desktop-app
	url = https://github.com/ProjeGroup6/desktop-app
[submodule "projegroup6.github.io"]
	path = projegroup6.github.io
	url = https://github.com/ProjeGroup6/projegroup6.github.io
